@import 'imports/variables', 'imports/mixins';

#root {

}

header {
    min-height:65px;
    border-bottom:1px solid rgb(206,206,206);

    h5 {
        color: $highlight;
        opacity:1;
        font-weight: bold;
        padding:5px;
        border-radius:10px;
        background:linear-gradient(to bottom, #F3FF1F, $highlight);
        color:black;
    }

    a {
        text-decoration:none;
        color:black;
    }
    .buttons {
        display:flex;
        button {
            color:#3E3D4A;
            background:#F6F7FA;
            display:flex;
            align-items:center;
            font-size:1.6rem;
            margin-right:5px;
            border-radius:50%;
            border:none;
            padding:5px;
        }
    }

    .active {
        color: $highlight;
    }

    .navegation {
        margin:0px 10px;
    }

 
}