@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";

$primary: #fff;
$secondary: #f7f7f7;
$tertiary: #f6f7fa;
$verde:#48B89F;
$grisHover: #E9ECEF;
$azul: #488bb5;
$amarillo: #b29547;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary

);

$custom-colors: (
  "verdeApp": $verde,
  "gris": $grisHover,
  "blue": $azul,
  "yellow": $amarillo
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../../node_modules/bootstrap/scss/bootstrap";

.foto{
    cursor: pointer;
}
.card{
  margin-top: 1.5rem;
  min-width: 24rem;
}

.card>img{
  height: 16rem;
  object-fit: cover;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 16rem;
}

article{
  margin-bottom: 1.5rem;
}
.negrita{
  font-weight: 600;
  font-size: 1.1em;
}
.textArea{
    margin-bottom: 1rem   
}
.fila{
    display: flex;
    width: 100%;
    margin-bottom: 1rem 

}
input, textarea, select{
    border:1px solid $grisHover ;
}
.fila input{
    width: 100%;
    margin-left: 0.5rem;
    
}

.desc{
  color: #000000b0;
  font-size: 0.9em;
}
.titulo{
  font-size: 1.5em;
  margin-bottom: 1rem !important;
}

.profile{
  max-width: 95vw;
}
.profilePic{
    background-color: $grisHover;
    padding: 0.5rem;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }
#saveDiv{
  margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
button{
    border-radius: 5px;
    background-color: $verde;
    color: $primary;
    border: none ;
    transition: 0.25s;
  }
  button:hover{
    filter: brightness(120%);
  }
  .btnBorrar{
    background-color: $danger;
  }
@media screen and (width >= 576px){
  .botones{
    position: static;
    width: auto;
    padding-right: 1rem;
    max-height: 100%
  }
  .card{
    margin-top: 0;
    margin-left: 1.5rem;
  }
  h3{
    margin-bottom: 2rem;
  }
  .desc{
    width: 90%;
  }

  .profilePic{
    width: 18rem;
    height: 18rem;
  }
  .profileData{
    align-items: center;
    margin-top: 3rem !important;
    margin-bottom: 2.5rem !important;
  }
  .profile{
    width: 50vw;
  }

}
