/* mixins */

@mixin set_highlight_bg() {
    background: $highlight;
}

@mixin set_highlight() {
    color: $highlight;
}

@mixin row_center() {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
}

@mixin column_center() {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}