@import 'sass/header','sass/posts', 'sass/map', 'sass/calendar';
@import 'sass/imports/variables', 'sass/imports/mixins';



* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}


#root {
  // background:#f3f3f3;
  font-family:'Poppins';
}

.highlight {
  @include set_highlight();
}

.active {
  color: $highlight !important;
}