@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

$primary: #fff;
$secondary: #f7f7f7;
$tertiary: #f6f7fa;
$verde:#48B89F;
$grisHover: #E9ECEF;
$azul: #488bb5;
$amarillo: #b29547;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary
);

$custom-colors: (
  "verdeApp": $verde,
  "gris": $grisHover,
  "blue": $azul,
  "yellow": $amarillo
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body *{
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
body{
  background-color: $secondary;
}

