@import "sass/imports/variables", "sass/imports/mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  font-family: "Poppins";
}

.widget {
  margin-top: 20px;
}

.highlight {
  @include set_highlight();
}

.active {
  color: $highlight !important;
}
